{% extends 'core/base.html' %}

{% block title %} S2IT- lista de produto {% endblock %}


{% block content %}
<section class="container">
      <div class="row margin-top">
        <div class="col col-md-3">
          <div class="category-panel">
              <h2><span>CATEGORIAS</span></h2>
                <ul>
                {% for category in product_category %}
                    <li><a href='{{category.slug}}'>{{ category.name }}</a></li>
                {% endfor %}
                </ul>
          </div>
        </div>
        <div class="col col-md-9">
            <div class="product-panel">
                <h2><span>PRODUTOS</span></h2>
                {% for product in product_list %}
                    <div class="col-md-4">
                      <div class="product-item">
                        <div class="product-image">
                          <a href='{% url "product_detail" product.slug %}'>
                            <img src="/media/{{ product.main_image }}" alt="{{ product.name }}" />
                          </a>
                        </div>
                        <h2 class="name"><a href='{% url "product_detail" product.slug %}'><span>{{ product.name }}</span></a></h2>
                        <p class="price"><a href='{% url "product_detail" product.slug %}'>R$ {{ product.price }}</a></p>
                        <a href="{% url "product_detail" product.slug %}" class="btn btn-primary">VER DETALHES</a>
                      </div>
                    </div>
                {% endfor %}
            </div>
        </div>
      </div>
      <hr />
    </section>
{% endblock %}