{% extends 'core/base.html' %}

{% block title %} S2IT- lista de produto {% endblock %}


{% block content %}
<section class="container">
      <div class="row margin-top">
        <div class="col col-md-3">
          <div class="category-panel">
              <h2><span>CATEGORIAS</span></h2>
                <ul>
                {% for category in product_category %}
                    <li><a href='{{category.slug}}'>{{ category.name }}</a></li>
                {% endfor %}
                </ul>
          </div>
        </div>
        <div class="col col-md-9">
            <div class="product-panel">
                <h2><span>PRODUTOS</span></h2>
                {% for product in product_list %}
                    <a href='{% url "product_detail" product.slug %}'>{{ product.name }}</a>
                    <br>
                {% endfor %}
            </div>
        </div>
      </div>
      <hr />
    </section>
{% endblock %}